- assets = controller.controller_name
- asset = assets.singularize
#empty
  - if @current_query.blank?
    == #{t(:could_not_find, assets)} #{link_to_remote(t(:create_new) << ' ' << t(asset + '_small'), :url => send("new_" << asset << "_path"))}.
  - else
    - criteria = @current_query.instance_of?(String) ? @current_query : ""
    == #{t(:could_not_find_matching, t(assets.downcase + '_small'))} <span class="cool"><b>#{h criteria}</b></span>; #{t :please_retry}
