- model = controller.controller_name.singularize.camelize.constantize

- if Setting.advanced_filters
  = acts_as_criteria_form :filter, model, :hidden => true, :no_actions => true
  - unless acts_as_criteria_is_filter_active(@current_query)
    #filter_inactive
      = link_to_remote(t(:filter_create), {:url => { :action => :criteria, :id => "activate_filters" }})
      = " #{t :or} "
      = acts_as_criteria_select_user_filters(@current_user.id)