- path = controller.controller_name
- path = "admin/#{path}" if controller.class.to_s.starts_with?("Admin::")
- model = controller.controller_name.singularize.camelize.constantize

%h4 #{t(:search_assets, t(controller.controller_name + "_small"))}
%div{ :style => "margin: 0px 0px 6px 0px" }
  = acts_as_criteria_form :simple, model, :size => 23, :action => "#{path}/search", :live => { :frequency => 0.75, :trigger => "crm.search(value, '#{path}')" }