= styles_for :account
- options_text = acts_as_criteria_is_filter_active(@current_query) ? "#{t(:options)} #{t(:filter_active)}" : t(:options)

.title_tools
  = link_to_inline(:create_account, new_account_path, :text => t(:create_account)) << " | "
  = link_to_inline(:options, options_accounts_path, :text => options_text)

.title
  %span#create_account_title #{t :accounts}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
- if Setting.advanced_filters && acts_as_criteria_is_filter_active(@current_query)
  .remote#options
    = render :partial => "options"
- else
  .remote#options{ hidden }
.remote#create_account{ hidden }

.list#accounts
  - unless @accounts.empty?
    = render :partial => "account", :collection => @accounts
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"
